.chart-tabs {
    border-bottom: 1px solid #444;
    font-family: "Segoe UI", sans-serif;
}

.chart-tab {
    padding: 10px 18px !important;
    background-color: #111 !important;
    color: #bbb !important;
    border: 1px solid #333 !important;
    border-bottom: none !important;
    margin-right: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.chart-tab:hover {
    background-color: #1a1a1a !important;
    color: #fff !important;
    cursor: pointer;
}

.chart-tab--selected {
    background-color: #0d6efd !important;
    color: #ffffff !important;
    border-color: #0d6efd #0d6efd #111 !important;
    font-weight: 600;
}

.DateInput_input {
    padding: 6px 10px !important;
    font-size: 14px;

    height: 38px;
}

.Select-menu-outer, .Select-menu, .Select-option {
    /*background-color: #222 !important;*/
    color: #222 !important;
}

/*.Select-option.is-focused {*/
/*    background-color: #444 !important;*/
/*}*/

/*.Select-value-label {*/
/*    color: #e8e8e8 !important;*/
/*}*/

/*.Select-input input {*/
/*    color: #e8e8e8 !important;*/
/*}*/



